.category-detail-main-visual {
    position: relative;
    height: 800px;
}


.category-detail-main-visual>.overlay-text {
    position: absolute;
    bottom: 15%;
    left: 10%;
    color: #fff;
}


.category-detail-main-visual>.overlay-text>.category-detail-main-visual-title {
    font-size: 50px;
    font-weight: 600;
    margin-right: 10px;
}

.category-detail-main-visual>.overlay-text>.category-detail-main-visual-text {
    font-size: 20px;
    font-weight: 400;
}

/* Rank */

.category-detail-container {
    position: relative;
    width: 1600px;
    margin: 50px auto;
    height: 200vh;
}

.category-detail-container>.category-detail-content-box-rank {
    margin-bottom: 150px;
}

.category-detail-container>.category-detail-content-box-rank>.swiper.reels-swiper>.swiper-button-prev>img {
    width: 48px;
    height: 48px;
    position: absolute;
    left: -10px;
    opacity: 50%;
}


.category-detail-container>.category-detail-content-box-rank>.swiper.reels-swiper>.swiper-button-next>img {
    width: 48px;
    height: 48px;
    position: absolute;
    right: -10px;
    opacity: 50%;
}

.category-detail-container>.category-detail-content-box-rank>.swiper.reels-swiper>.swiper-wrappe {
    width: 1300px;
}

.category-detail-container>.category-detail-content-box-rank>.swiper.reels-swiper>.swiper-wrapper>.swiper-slide {
    width: 265px !important;
    margin: 0 20px 0 100px;
}

.category-detail-container>.category-detail-content-box-rank>.swiper.reels-swiper>.swiper-wrapper>.swiper-slide:nth-child(5) {
    margin: 0 20px 0 160px;
}

.category-detail-container>.category-detail-content-box-rank>.swiper.reels-swiper>.swiper-wrapper>.swiper-slide>a>img {
    width: 250px;
    height: 350px;
    border-radius: 10px;
}

.category-detail-container>.category-detail-content-box-rank>.swiper.reels-swiper>.swiper-wrapper>.swiper-slide>a>span {
    font-size: 200px;
    font-weight: 600;
    color: #fff;
    opacity: 50%;
    position: absolute;
    left: -60px;
    bottom: -55px;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    display: none;
}

/* recommend */

.category-detail-container>.category-detail-content-box-recommend>.recommend01>h3,
.category-detail-container>.category-detail-content-box-recommend>.recommend02>h3 {
    font-size: 35px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 50px;
}

.category-detail-container>.category-detail-content-box-recommend>.recommend02>h3 {
    font-size: 35px;
    font-weight: 500;
    color: #fff;
    margin: 150px 0 50px;
}

.category-detail-container>.category-detail-content-box-recommend>.recommend01>.recommendImg01,
.category-detail-container>.category-detail-content-box-recommend>.recommend02>.recommendImg02 {
    margin: 0 auto;
    width: 1500px;
    display: flex;
    overflow: hidden;
    height: 240px;
    gap: 30px;
    flex-wrap: wrap;
    transition: height 0.5s ease;
}

.category-detail-container>.category-detail-content-box-recommend>.recommend01>.recommendImg01>a>img,
.category-detail-container>.category-detail-content-box-recommend>.recommend02>.recommendImg02>a>img {
    width: 350px;
    height: 200px;
    border-radius: 10px;
    transition: box-shadow 0.3s ease-in-out;
    margin-bottom: 20px;
}

.category-detail-container>.category-detail-content-box-recommend>.recommend01>.button,
.category-detail-container>.category-detail-content-box-recommend>.recommend02>.button {
    position: relative;
    border: 1px solid #727272;
    top: 20px;
}

.category-detail-container>.category-detail-content-box-recommend>.recommend01>.button>img,
.category-detail-container>.category-detail-content-box-recommend>.recommend02>.button>img {
    width: 48px;
    height: 48px;
    position: absolute;
    left: 48.2%;
    top: -20px;
    background: #21252B;
}